obj
bin

include/boot/limine.h

include/float.h
include/iso646.h
include/limits.h
include/stdalign.h
include/stdarg.h
include/stdbool.h
include/stddef.h
include/stdint.h
include/stdnoreturn.h

src/cc-runtime.c